.md-typeset .admonition {
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-left-width: 0.25rem;
  border-left-style: solid;
  padding: 0.75rem;
  color: var(--color-blue-dark);
}

.md-typeset .admonition-title {
  background-color: transparent !important;
  font-weight: 500 !important;
  font-size: 0.625rem;
  padding: 0 0 0.25rem 1.25rem !important;
}

.md-typeset .admonition > .admonition-title:before {
  left: 0;
  top: 0.2em;
  background-color: #2A2859;
  height: 1.25em;
}

.md-typeset .admonition > p,
.md-typeset .admonition > :last-child {
  margin: 0 !important;
}

.md-typeset .admonition {
  border-color: var(--pkt-color-brand-dark-beige-1000);
  background-color: var(--pkt-color-brand-light-beige-1000);
}
.md-typeset .admonition.note,
.md-typeset .admonition.example,
.md-typeset .admonition.tip {
  border-color: var(--pkt-color-border-blue);
  background-color: var(--pkt-color-brand-blue-300);
}
.md-typeset .admonition.success {
  border-color: var(--pkt-color-border-green);
  background-color: var(--pkt-color-brand-green-400);
}
.md-typeset .admonition.warning {
  border-color: var(--pkt-color-border-yellow);
  background-color: var(--pkt-color-brand-yellow-500);
}

.md-typeset .note > .admonition-title:before,
.md-typeset .example > .admonition-title:before,
.md-typeset .tip > .admonition-title:before {
  mask-image: url('https://punkt-cdn.oslo.kommune.no/11.12/icons/alert-information.svg');
}
.md-typeset .success > .admonition-title:before {
  mask-image: url('https://punkt-cdn.oslo.kommune.no/11.12/icons/check-circle.svg');
}
.md-typeset .warning > .admonition-title:before {
  mask-image: url('https://punkt-cdn.oslo.kommune.no/11.12/icons/alert-warning.svg');
}
