/* Centering the inner content */

[data-md-color-scheme="oslo"] .md-content__inner {
  max-width: 800px;
  margin: auto;
}

/* Fixed padding on small screens */

[data-md-color-scheme="oslo"] .md-main {
  padding: 0 20px;
}

/* Fixed padding on footer */

[data-md-color-scheme="oslo"] .md-footer {
  padding-top: 30px;
}

/* Hiding light/dark mode button */

[data-md-color-scheme="oslo"] .md-header__option {
  visibility: hidden;
}

/* Fixing GitHub icon on small screens */

[data-md-color-scheme="oslo"] .md-nav__source {
  background-color: #ffffff;
}

/* Disabling dropshadow on small screens */
[data-md-color-scheme="oslo"] .md-header--shadow {
  box-shadow: none;
}

/* Styling the text elements */
@font-face {
  font-family: "oslosans";
  src: url("OsloSans-Regular.woff") format("truetype");
  -webkit-font-smoothing: antialiased;

}

:root {
  --md-text-font: "Oslo Sans";
}

[data-md-color-scheme="oslo"] {
  --md-primary-fg-color: #ffffff; /* Navigation background */
  --md-primary-bg-color: #2a2859; /* Navigation text */
  --md-accent-fg-color: #1f42aa; /* Hover */
  --md-accent-bg-color: #8d50b1; /* Unused(?) Hover */
  --md-footer-bg-color: #ffffff; /* Footer */
  --md-footer-fg-color: #2a2859; /* Footer Navigation text */
  --md-footer-bg-color--dark: #2a2859; /* Footer Bottom layer */
}

[data-md-color-scheme="oslo"] .md-typeset h1, h2, h3 {
  color: #2a2859;
}

[data-md-color-scheme="oslo"] p, li {
  font-weight: 300 !important;
}

[data-md-color-scheme="oslo"] .md-header__topic:first-child {
  font-weight: 400 !important;
}

[data-md-color-scheme="oslo"] h1, h2, h3, h4, h5 {
  font-weight: 400 !important;
}

[data-md-color-scheme="oslo"] .md-content a {
  color: #2a2859;
  text-underline-offset: 3px;
}

[data-md-color-scheme="oslo"] .md-content a:hover {
  color: #1f42aa;
}

[data-md-color-scheme="oslo"] .md-content a, .md-content a.hover{
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

[data-md-color-scheme="oslo"] .md-typeset kbd {
  margin: 0 0.3em;
}

[data-md-color-scheme="oslo"] .md-typeset__table {
  min-width: 100%;
}

[data-md-color-scheme="oslo"] .md-typeset table:not([class]) {
   display: table;
}

[data-md-color-scheme="oslo"] .md-search__input::placeholder {
  color: #666666;
}

[data-md-color-scheme="oslo"] .md-search__input {
  color: #2a2859;
}

[data-md-color-scheme="oslo"] .md-search__form {
  background-color: #ffffff;
  border: 2px solid #f9C66b;
}

[data-md-color-scheme="oslo"] .md-search__form:hover {
  background-color: #ffffff;
}

[data-md-color-scheme="oslo"] .md-tabs {
  border-bottom: 1px solid #f2f2f2;
}

[data-md-color-scheme="oslo"] .md-source:focus,
.md-source:hover,
.md-nav__source:hover,
.md-tabs__link:focus,
.md-tabs__link:hover,
.md-body__link:focus,
.md-body__link:hover,
.md-footer__link:focus,
.md-footer__link:hover {
 opacity:1;
 color: #1f42aa;
}

[data-md-color-scheme="oslo"] html .md-footer-meta.md-typeset a:focus,
html .md-footer-meta.md-typeset a:hover {
 opacity:1;
 color: #B3F5FF;
}

/* Underlining the active menu item (and removing fade) */
[data-md-color-scheme="oslo"] .md-tabs__link {
  opacity:1;
}

[data-md-color-scheme="oslo"] .md-tabs__item--active {
  text-decoration: underline;
  text-decoration-color: #6fe9ff;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Styling Buttons */

[data-md-color-scheme="oslo"] .md-button {
  border: 2px solid #2A2859;
  color: #2A2859 !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

[data-md-color-scheme="oslo"] .md-button:hover {
  background-color: #1F42AA;
  color: #ffffff !important;
  text-decoration-color: #ffffff;
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

[data-md-color-scheme="oslo"] .md-clipboard {
  color: #2A2859;
}

[data-md-color-scheme="oslo"] .md-clipboard:hover {
  color:#1f42aa
}

/* Styling Abbreviations */
[data-md-color-scheme="oslo"] abbr {
    background-color: #e5fcff;
    border: none;
}

article a:not([href^='/']):not([href^='#']):not([href*='127.0.0.1']):not([href*='localhost']):not([href*='oslokommune.github.io/dataspeilet']):not(.md-icon):after,
a[target='_blank']:after {
  display: inline-block;
  content: '';
  width: 1em;
  height: 1em;
  --svg: url(https://punkt-cdn.oslo.kommune.no/latest/icons/new-window-small.svg);
  background-image: var(--svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: baseline;
}

.md-social a[target='_blank']:after {
  display: none;
}

/* Keys */
.md-typeset kbd {
  border: 1px solid #808080;
  box-shadow: none;
  margin: 0;
}

body[data-md-path="datakatalog/index"] .md-main {
  background-color: #ea8888;
  max-width: 100%; /* optional: make full width */
}

body[data-md-path="datakatalog/index"] .md-content__inner {
  max-width: none;
  width: 100%;
  padding: 0;
  background-color: #6fe9ff;
}

/* Target the "question" collapsible blocks */
.md-typeset .admonition.question,
.md-typeset details.question {
  border-color: #E5FFE6; 
}

.md-typeset .admonition.question > .admonition-title,
.md-typeset details.question > summary {
  background-color: #E5FFE6; 
  color: #034B45; /* text color */
}